.dropdown:hover a{

    color: blue;
}

header{

    background-image: url(./becterrrrr/bg.jpg);
    min-height: 100vh;
    background-position: center center;
    align-items: center;
    background-size: cover;
    display: flex;
    align-items: center;
    
}
.capitin h1 {
   


    text-align: center;
    padding-top: 100px;
    color: white;
    
}
button{
    background-color: black;
    color: aliceblue;
    
}
#SERVICES .itemmm{
    background-color: white;
    text-align: center;
    padding: 20px;
    border-radius: 5px;

}

#SERVICES{
    background-color: aqua;
}

.lier{
    top: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
}
.prtofilu_card:hover .lier{
top: 0;
}
.prtofilu_card:hover img{
    transform: scale(1.2);
}
   
    
  
    
    

